{% extends "files/base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">

        <div class="glass-card p-4 text-center">

            <h4 class="mb-3 text-success">🔗 Secure Link Generated</h4>

            <div class="mt-3 mb-3 p-3"
                 style="background:white; border-radius:10px; word-break:break-all;">
                <span id="shareLink">{{ share_link }}</span>
            </div>

            <button class="btn btn-outline-info btn-sm"
                    onclick="copyLink()">
                📋 Copy Link
            </button>

        </div>

    </div>
</div>

<script>
function copyLink() {
    var text = document.getElementById("shareLink").innerText;
    navigator.clipboard.writeText(text);
    alert("Link copied to clipboard!");
}
</script>

{% endblock %}