{% extends 'files/base.html' %}
{% block content %}
  <div class="dashboard-container">
    <div class="row">
      <!-- Upload Section -->
      {% if request.user.role == 'admin' or request.user.role == 'uploader' %}
        <div class="col-md-4 mb-4">
          <div class="card card-custom p-4 shadow-sm">
            <h5 class="mb-3">📤 Upload Secure File</h5>

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="mb-3">{{ form.file.label_tag }}
                {{ form.file }}</div>

              <button class="btn btn-primary w-100">Upload</button>
            </form>
          </div>
        </div>
      {% endif %}

      <!-- File List -->
      <div class="col-md-8">
        <h5 class="mb-3 text-black">📂 Your Files</h5>

        {% if files %}
          <div class="row">
            {% for file in files %}
              <div class="col-md-6 mb-4">
                <div class="file-card shadow-sm">
                  <div class="file-title text-truncate">{{ file.original_name }}</div>

                  {% comment %} <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'download' file.id %}" class="btn btn-success btn-sm">Download</a>

                    {% if request.user.role == 'admin' or file.owner == request.user %}
                      <a href="{% url 'delete' file.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                  </div> {% endcomment %}
                  <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'download' file.id %}" class="btn btn-success btn-sm">Download</a>

                    {% if request.user.role == 'admin' or file.owner == request.user %}
                      <a href="{% url 'generate_token' file.id %}" class="btn btn-info btn-sm">Generate Link</a>

                      <a href="{% url 'delete' file.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-light">No files uploaded yet.</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
