{% extends "files/base.html" %}

{% block content %}

<h3 class="mb-4">Upload Secure File</h3>

{% if request.user.role == "admin" or request.user.role == "uploader" %}

<div class="card p-4 shadow-sm mb-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Upload</button>
    </form>
</div>

{% else %}
<div class="alert alert-warning">
    You do not have permission to upload files.
</div>
{% endif %}

<h4>Your Files</h4>

<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr>
            <td>{{ file.original_name }}</td>
            <td>
                <a href="{% url 'download' file.id %}" class="btn btn-success btn-sm">Download</a>

                {% if request.user.role == "admin" or file.owner == request.user %}
                    <a href="{% url 'delete' file.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">No files uploaded.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}